@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

html {
    background-color: #00008b;
}
div.is_blue, nav.is_blue {
    background-color: #00008b;
}

button.button.is_yellow {
    background-color: #ffe08a;
    color: #000;
    border-color: #4a4a4a;
}

a.is_yellow {
    color: #ffe08a;
}

.punch {
  background-color: #dc143c;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}

.footwork {
  margin-bottom: 5px;
}